


 <!-- <button mat-raised-button (click)="isLinear = true" id="toggle-linear">Enable linear mode</button> -->

<div class="container">
  <div class="card" style="margin-right: auto; margin-left: auto;">
    <div class="card-body">
      <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup" (ngSubmit)="crearUsuarioTemp()">
            <h5 class="card-title">Datos Personales</h5>
            <ng-template matStepLabel>Datos Personales</ng-template>
            <mat-form-field>
              <input matInput placeholder="DNI" formControlName="dni" required>
            </mat-form-field>
      
            <br>
      
            <mat-form-field>
              <input matInput placeholder="Apellido" formControlName="apellido" required>
            </mat-form-field>
      
            <br>
      
            <mat-form-field>
              <input matInput placeholder="Nombre" formControlName="nombre" required>
            </mat-form-field>
      
            <br>
      
            <mat-form-field>
              <input matInput placeholder="email" formControlName="email" required>
            </mat-form-field>
      
            <br>
      
            <mat-form-field>
              <input matInput placeholder="celular" formControlName="celular" required>
            </mat-form-field>
      
            <br>
      
            <mat-form-field>
              <input matInput placeholder="telefono" formControlName="telefono" required>
            </mat-form-field>
      
            <br>
      
            <!-- TODO agregar input -->
            <mat-form-field>
              <mat-label>Ubicación</mat-label>
              <select matNativeControl required>
                <option matInput *ngFor="let prov of provincias" [value]="prov.value">
                  {{prov["nombre"]}}
                </option>
              </select>
            </mat-form-field>
      
      
      
            <br>
      
            <mat-form-field>
              <input matInput placeholder="nacimiento" formControlName="nacimiento" required>
            </mat-form-field>
      
            <br>
      
            <mat-form-field>
              <input matInput placeholder="usuario" formControlName="usuario" required>
            </mat-form-field>
      
            <br>
      
            <mat-form-field>
              <input matInput placeholder="password" formControlName="password" type="password" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
      
      
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup" (ngSubmit)="crearVehiculoTemp()">
            <ng-template matStepLabel>Datos de su vehículo</ng-template>
            <h5 class="card-title">Datos de su vehículo</h5>
      
            <mat-form-field>
              <mat-label>Marcas</mat-label>
              <select matNativeControl required>
                <option *ngFor="let marca of marcas"> {{marca["desc"]}}</option>
              </select>
            </mat-form-field>
      
            <br>
      
            <mat-form-field>
              <input matInput placeholder="año" formControlName="año" required type="year">
            </mat-form-field>
      
            <br>
      
            <mat-form-field>
              <input matInput placeholder="modelo" formControlName="modelo" required>
            </mat-form-field>
      
            <br>
      
            <mat-form-field>
              <input matInput placeholder="version" formControlName="version" required>
            </mat-form-field>
      
      
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
      
      
        <mat-step [stepControl]="thirdFormGroup" >
          <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>Coberturas</ng-template>
            <h5 class="card-title">Coberturas</h5>
            <mat-form-field>
              <mat-label>Coberturas</mat-label>
              <select matNativeControl required>
                <!-- TODO Ordenado por costo -->
                <option *ngFor="let cobertura of coberturas" > {{cobertura["texto"]}}</option>
              </select>
            </mat-form-field>

            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
      
      
        <mat-step>

          <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>Compruebe sus datos</ng-template>
            <h5 class="card-title">Comprobación de datos</h5>
            <ul (ngModel)="usuario">
              <li>DNI: {{usuario.dni}}</li>
              <li>Apellido: {{usuario.apellido}}</li>
              <li>Nombre: {{usuario.nombre}}</li>
              <li>Email: {{usuario.email}}</li>
              <li>Celular: {{usuario.celular}}</li>
              <li>Telefono: {{usuario.telefono}}</li>
              <li>Ubicación: {{usuario.ubicacion}}</li>
              <li>Nacimiento: {{usuario.nacimiento}}</li>
              <li>Usuario: {{usuario.Usuario}}</li>
              <li>Contraseña: {{usuario.password}}</li>
            </ul>


            <div>
              <button mat-button matStepperPrevious>Back</button>
              <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
              <button mat-button type="submit" (click)="enviarAlert()">Submit</button>
            </div>

          </form>
        </mat-step>


      </mat-horizontal-stepper>
    </div>
  </div>
</div>
